footer {
    background-color: var(--primary);
    color: white;
    text-align: center;
    font-family: var(--fontPrimary);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    height: 40px;
}