.songContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    background-color: white;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 25px;
}

.songCard {
    font-family: var(--fontPrimary);
    background-color: rgba(239, 235, 235, 0.815);
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.songCard div {
    display: flex;
}

.songCard p {
    margin: auto 10px;
}



.songCard:hover {
    cursor: pointer;
    background-color: var(--bgPrimary);
}