 .sub-Container {
     background-color: #fcedda;
     height: 74vh;
     border-bottom: 5px solid white;
     padding: 10px 50px;
     box-sizing: border-box;
     overflow-y: scroll;
 }

 .sub-Container::-webkit-scrollbar {
     width: 10px;
 }

 .sub-Container::-webkit-scrollbar-thumb {
     background-color: var(--scrollbar);
     border-radius: 10px;
 }


 .songCardBanner {
     padding: 10px;
     border-radius: 20px;
     border: 5px solid white;
     width: 200px;
     height: 200px;
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px;
 }

 .songCardBanner p {
     font-size: smaller;
     text-align: center;

 }

 .songCardBanner img {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     transition: 0.2s ease;
 }

 .songCardBanner img:hover {
     border-radius: 20%;
 }

 .songCardBanner svg {
     width: 200px !important;
 }