:root {
  --primary: #ee4e34;
  --bgPrimary: #fcedda;
  --bgSecondary: #ffefdb;
  --fontPrimary: 'Quicksand', sans-serif;
  --fontSecondary: 'Montez', sans-serif;
  --scrollbar: rgba(106, 106, 106, 0.601);
  ;
}



svg {
  width: 400px !important
}